html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(3, 2, 68);
    font-family: "Roboto", sans-serif;
}
nav{
    display: flex;
    position: fixed;
    align-items: center;
    background-color: rgb(9, 8, 100);
    height: 40px;
    width: 100%;
}

li{
    font-family: "New Amsterdam", sans-serif;
    color: white;
    list-style: none;
    margin-left: 20px;
}
@keyframes brilho{
    from{
        text-shadow: 0 0px 5px rgb(255, 255, 255)
    }
    to{
        text-shadow: 0 0px 20px rgb(255, 255, 255)
    }
}
h1{
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    animation: brilho alternate 1s infinite;
}
h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-size: contain;
    background-image: url(./assets/wp11796400.webp);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0);

}
#projeto-nike{
    background-size: fill;
    background-image: url(./assets/nikegif.gif);
}
#projeto-mar{
    background-color: rgb(0, 6, 32);
}
#projeto-nlw{
    background-color: rgb(24, 0, 0);
}
.content-section{
    text-align: center;
    width: 450px;
}
.content {
    text-align: center;
    width: 450px;
    margin-right: 200px;
    margin-left: -70px;
}
.section_img{
    transition: 300ms all;
    height: 100px;
    border-radius: 30px;
}
.section_img:hover{
    transform: scale(1.1);
}
#instalogo:hover{
    box-shadow: 0 0px 10px rgb(255, 255, 255)
}
#h2section{
    animation: brilho alternate 1s infinite;
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 3px;
}
#img-projeto1{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}
video{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}
.conteiner-img{
    height: 500px;
    width: 400px;
    margin-right: -400px;
    border-radius: 10px;
    background-image: url(./assets/Foto\ de\ perfil.jpeg);
    background-size: cover;
    box-shadow: 10px 10px 15px rgb(56, 4, 4);
}
.home{
    height: 40px;
    margin-left: 20px;
    margin-right: 40px;
}